# Java & Maven
target/
*.class
*.jar
*.war
*.ear
hs_err_pid*.log

# Eclipse
.project
.classpath
.settings/
*.launch

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# OS固有ファイル
.DS_Store
Thumbs.db

# Logs
*.log

# Build tools
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Environment / Secrets
.env
*.env

# Gradle
.gradle/
build/
